<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vk_bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vk_bot.Properties.Settings>
            <setting name="id" serializeAs="String">
                <value />
            </setting>
            <setting name="time" serializeAs="String">
                <value />
            </setting>
            <setting name="timevr" serializeAs="String">
                <value />
            </setting>
        </vk_bot.Properties.Settings>
    </userSettings>
</configuration>